body {
  padding: 20px;
}
.App {
  width: 400px;
  margin: 0 auto;
}
.App > section {
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  background-color: #f8f8f8;
}